@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIABLES */
@media screen and (min-width: 600px) {
    :root {
      --multiplier: 1.25;
    }
}

@media screen and (max-width: 600px) {
    :root {
      --multiplier: 0.9;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #082607;
    font-family: 'Poppins' , Arial, Helvetica, sans-serif;
}

button{
    font-family: 'Poppins' , Arial, Helvetica, sans-serif;
}

.mc-bg{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: end;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

nav{
    width: 100vw;
    height: calc(92px * var(--multiplier));
    position: relative;
    top: 0px;
    z-index: 2;
}

.menu-button{
    padding: calc(42px * var(--multiplier)) 0 0 calc(82px * var(--multiplier));
    width: 28px;
}

.menu-button > *{
    border: calc(1px * var(--multiplier)) solid white;
    border-radius: calc(100px * var(--multiplier));
}

.bottom-line{
    width: calc(28px * var(--multiplier));
}

.top-line{
    width: calc(28px * var(--multiplier));
}

.middle-line{
    width: calc(21px * var(--multiplier));
    margin: calc(6px * var(--multiplier)) 0;
}

.bg-color-gradient{
    position: absolute;
    height: 100vh;
    right: 0px;
    top: 0px;
    background-color: black;
    background: linear-gradient(90deg, rgba(8, 38, 7, 1) 0%, rgba(196, 196, 196, 0) 100%);
}

.content{
    position: relative;
    width: 100vw;
    height: calc(100vh - calc(96px * var(--multiplier)));
    display: flex;
    padding: 0 calc(145px * var(--multiplier)) 0 calc(82px * var(--multiplier));
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-content{
    padding: calc(38px * var(--multiplier)) 0 0 0;
    width: max(calc(525px * var(--multiplier)));
}

.right-content{
    display: flex;
    justify-content: end;
}

.hyperlabs-logo{
    height: calc(115px * var(--multiplier));
    padding: 0 0 calc(24px * var(--multiplier)) 0;
}

.title{
    font-weight: 600;
    font-size: calc(36px * var(--multiplier));
    line-height: calc(54px * var(--multiplier));
    color: white;
    padding: 0 0 calc(18px * var(--multiplier)) 0;
}

.title span{
    color: #27DB24;
}

.playNameServer{
    padding: calc(4px * var(--multiplier)) calc(24px * var(--multiplier));
    color: #27DB24;
    border-radius: 100vw;
    border: calc(1px * var(--multiplier)) solid #27DB24;
    background-color: rgba(39, 219, 36, 0.15);
    margin: 0 0 calc(48px * var(--multiplier)) 0;
    font-size: calc(16px * var(--multiplier));
    line-height: calc(24px * var(--multiplier));
    font-weight: 400;
}

.hrv{
    width: 100%;
    height: calc(2px * var(--multiplier));
    border-radius: 100vw;
    background-color:rgba(255, 255, 255, 0.25);
}

.discover{
    display: flex;
    padding: calc(28px * var(--multiplier)) 0 calc(12px * var(--multiplier)) 0;
}

.sub-title{
    color: white;
    font-size: calc(18px * var(--multiplier));
    line-height: calc(27px * var(--multiplier));
    font-weight: 400;
    padding: 0 calc(14px * var(--multiplier)) 0 0;
}

.sub-title span{
    font-weight: 700;
}

.paragraph{
    color: rgba(255, 255, 255, 0.75);
    font-size: calc(14px * var(--multiplier));
    font-weight: 300;
    word-spacing: calc(0.5px * var(--multiplier));
    padding: 0 0 calc(100px * var(--multiplier)) 0;
}

.blocks{
    display: grid;
    grid-template-columns: repeat(3 , calc(128px * var(--multiplier)));
    grid-template-rows: repeat(4 , calc(128px * var(--multiplier)));
    gap: calc(12px * var(--multiplier));
}

.blocks > * {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(calc(25px * var(--multiplier)));
    border-radius: calc(18px * var(--multiplier));
}

.blocks .b1, .blocks .b4{
    width: calc(256px * var(--multiplier));
    height: calc(256px * var(--multiplier));
}

.blocks .b2, .blocks .b3{
    width: calc(128px * var(--multiplier));
    height: calc(128px * var(--multiplier));
}

.b1{
    grid-column: 1/2;
    grid-row: 1/2;
}

.b2{
    grid-column: 3/3;
    grid-row:1/1;
}

.b3{
    grid-column: 1/1;
    grid-row: 3/3;
}

.b4{
    grid-column: 2/4;
    grid-row: 3/4;
}

